.container {
  display: flex;
  margin-bottom: 1.5rem;

  .summaryItem {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    .label {
      font-weight: bold;
    }
  }
}
